<div class="card-text text-left">
    <h6>Comments:</h6>
    <% @article.comments.each do |c| %>
    <p>
        <b><%= c.commenter %> :</b>
        <%= c.body %>
        <%# link_to "Delete comment", [comment.article, comment], method: :delete %>
    </p>
    <% end %>
</div>