<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">Praveen Blog</h1>
    <p class="lead">Welcome, express yourself by writing articles.</p>
    <p>It's a user friendly blog.</p>
    <hr class="my-4">
    <%= link_to "Sign up", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>