<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Praveen", "https://www.linkedin.com/in/praveen-r-a21ab7b1", class: "text-white" %></small>
    </div>
</footer>