<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
        <h5> Made with ❤️ <%= link_to "Praveen", about_path, class: "text-white" %></h5>
    </div>
</footer>